<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

    <div><%= f.label "Favorite MLB Team" %><br />
  <%= f.select(:team1, options_for_select((Team.where(:league => "mlb").map{|u| u.name}).sort)) %></div>

  <div><%= f.label "Favorite NBA Team" %><br />
  <%= f.select(:team2, options_for_select((Team.where(:league => "nba").map{|u| u.name}).sort)) %></div>

  <div><%= f.label "Favorite NFL Team" %><br />
  <%= f.select(:team3, options_for_select((Team.where(:league => "nfl").map{|u| u.name}).sort)) %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
