<div class="row-fluid">
  <div class="indexpage">
  <p>Your Favorite Teams' News at your fingertips!</p>
  <br>
  <%=image_tag "mlb.png", {:width => 340}%>
  <%=image_tag "nba.png", {:width => 160}%>
  <%=image_tag "nfl.png", {:width => 220}%>
  <br>
  <br>
  <div class="btn-group">
   <button class="btn btn-large"><h4><%= render 'devise/menu/registration_items' %></h4></button>
   <button class="btn btn-large"><h4><%= render 'devise/menu/login_items' %></h4></button>
  </div>
  </div>
</div>

