


<% @results.each do |result| %>

<a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a>
<br>
<% end %>

<br>
<br>

<% @results2.each do |result| %>

<a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a>
<br>
<% end %>

<br>
<br>

<% @results3.each do |result| %>

<a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a>
<br>
<% end %>

<br>
<br>

