
<div class="row-fluid">
  <div class="span4">
    <h1><%= current_user.team1 %> News </h1><br>
    <%=image_tag "#{Team.where(:name => "#{current_user.team1}").first.league}#{Team.where(:name => "#{current_user.team1}").first.espn_id}.jpg", {:width => 85}%>
    <% @results.each do |result| %>
      <ul>
        <li><a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a></li>
      </ul>
    <% end %>
  </div>
  <div class="span4">
    <h1><%= current_user.team2 %> News </h1> <br>
    <%=image_tag "#{Team.where(:name => "#{current_user.team2}").first.league}#{Team.where(:name => "#{current_user.team2}").first.espn_id}.jpg", {:width => 85}%>
    <% @results2.each do |result| %>
      <ul>
        <li><a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a></li>
      </ul>
    <% end %>    
  </div>
  <div class="span4">
    <h1><%= current_user.team3 %> News </h1> <br>
    <%=image_tag "#{Team.where(:name => "#{current_user.team3}").first.league}#{Team.where(:name => "#{current_user.team3}").first.espn_id}.jpg", {:width => 85}%>
    <% @results3.each do |result| %>
      <ul>
        <li><a href="<%= result["links"]["web"]["href"] %>"><%= result["headline"] %></a></li>
      </ul>
    <% end %>
  </div>
</div>


