<!DOCTYPE html>
<html>
<head>
  <title>Homebase</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "bootstrap" %>
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>
    <div class="row-fluid">
      <div class="span12">
       <div class="header">
       <h1 class="title">HOMEBASE</h1>
       <%=image_tag "mlb.png", {:width => 85}%>
       <%=image_tag "nba.png", {:width => 40}%>
       <%=image_tag "nfl.png", {:width => 55}%>
     </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
