<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <title>Homebase</title>
  <%= javascript_include_tag "application", "bootstrap" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Bowlby+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rosario:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="hmenu">
     <!--  <button type="button" data-toggle="modal" data-target="#myModal"> -->
        <%= render 'devise/menu/registration_items' %>
      <!-- </button>
      <button type="button" data-toggle="modal" data-target="#myModal"> -->
        <%= render 'devise/menu/login_items' %>
      <!-- </button> -->
    </ul>
    <div class="row-fluid">
      <div class="span12">
       <div class="header">
       <h1 class="title">HOMEBASE</h1>
       <%=image_tag "mlb.png", {:width => 85}%>
       <%=image_tag "nba.png", {:width => 40}%>
       <%=image_tag "nfl.png", {:width => 55}%>
     </div>
      </div>
    </div>
    <%= yield %>
  </div>

  <!-- Modal -->
 <!--  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body…</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div> -->


<div class="footer">
  <h6>Copyright © 2013</h6>
</div>
</body>
<!-- <script>
//   console.log("edit");
//   $(document).ready(function(){
//       $(".edit").click(function() {
//         console.log("bring up a modal");
//         $('#myModal').modal({});
//       });
//   });
</script> -->
</html>
